@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,body{
	height: 100%;
	width: 100%;
}

header{
	text-align: center;
	/* 모든 영문자를 대문자로 */
	text-transform: uppercase;
	background-color: rgb(235, 52, 52);
	margin: 0 20px; /*left, right 20px */
	padding: 2rem;
}

nav,section {
	margin: 0 20px;
}

#main-menu{
	list-style:none;
	display: flex;
	background-color: rgb(52,152,219);
}

.menu-item{
	display: inline-block;
	padding: 12px 16px;
	cursor: pointer;
	color: white;
	font-weight: bold;
	border-bottom: 4px solid transparent;
	
	transition: border-bottom 0.5s ease-in-out;
	transition: color 0.5s ease-in-out;
}

.menu-item:hover{
	border-bottom: 4px solid black;
	color: yellow;
}

.flex-right{
	margin-left: auto;
}

#main-button{
	display: flex;
}

button{
	border: none;
	display: inline-block;
	padding: 8px 16px;
	vertical-align: middle;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	
	white-space: nowrap;
	
	color: inherit;
	background-color: inherit;
	border-radius: 5px;
}

/* 
!important
혹시 누군가 색깔을 바꾸려고 해도 바꾸지 마라
 */
button:hover{
	color: #000 !important;
	background-color: #ccc !important;
}

#modal-box{
	display: none;
	
	position: fixed;
	z-index: 5;
	padding-top: 0;
	
	letf: 0;
	top: 0;
	background-color: rgba(0,0,0,0.4);
	width: 100%;
	height: 100%;
}

.modal-header{
	display: flex;
	
}

.modal-header span{
	color: white;
	font-size: 30px;
	font-weight: bold;
	margin-left: auto;
	display: inline-block;
	margin-right: auto;
}

.modal-header span:hover{
	cursor: pointer;
	color: #000;
}

#modal-content {
	position: relative;
	overflow: auto;
	width: 80%;
	margin: 0 auto;
	
	background-color: gray;
	padding: 5px 10px;
	border-radius: 20px;
	
	animation-name: book_box;
	animation-duration: 0.8s;
	animation-fill-mode: forwards;
	
	-webkit-animation-name: book_box;
	-webkit-animation-duration: 0.8s;
	
	-moz-animation-name: book_box;
	-moz-animation-duration: 0.8s;
	
	-ms-animation-name: book_box;
	-ms-animation-duration: 0.8s;
}

@keyframes book_box{
	from{
	top: -400px;
	opacity: 0;
	}
	to {
	top: 200px;
	opacity: 1;
	}
}
@-webkit-keyframes book_box{
	from{
	top: -400px;
	opacity: 0;
	}
	to {
	top: 200px;
	opacity: 1;
	}
}
@-moz-keyframes book_box{
	from{
	top: -400px;
	opacity: 0;
	}
	to {
	top: 200px;
	opacity: 1;
	}
}
@-ms-keyframes book_box{
	from{
	top: -400px;
	opacity: 0;
	}
	to {
	top: 200px;
	opacity: 1;
	}
}
