@charset "UTF-8";

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	
}

.login-form{
	width:400px;
	padding: 40px;
	background: #191919;
	text-align: center;
	z-index: 10;
	
	border-radius: 20px;
	box-shadow: 12px 12px 2 px 1px rgba(0, 0, 255, 0.2);
	margin : 20px auto;
}

.login-form h2 {
	color:white;
	font-weight: 500;
}

.login-form h3 {
	color:white;
	font-weight: 300;
	background-color: red;
	border-radius: 20px;
}

.login-form input{
	
	background: none;
	margin:20px auto;
	text-align: center;
	border: 2px solid #3498db;
	
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color:white;
	
	border-radius: 25px;
	transition: 0.2s;
}

.login-form button{
	border: 2px solid #2ECC71;
	padding: 14px 40px;
	background: none;
	display: block;
	margin: 20px auto;
	padding: 14px 40px;
	
	outline: none;
	color: white;
	
	border-radius: 25px;
	cursor: pointer;
}

.login-form input:focus{
	width:280px;
	border-color: #2ecc71;
	
}

.login-form button:hover{
	background-color: #2ecc71;
	
}