@charset "UTF-8";
.email-write-box{
width: 60%;
margin: 10px auto;
border: 1px solid blue;
border-radius: 4px;	
}

div.in-box{
display: flex;
margin: 3px;
}
div.in-box label{
display: block;
width: 30%;
white-space: nowrap;
text-align: right;
margin:8px;
padding: 5px;
font-weight: bold;
color: blue;
}

div.in-box input{
width:60%;
border: 1px solid #aaa;
border-radius: 4px;
padding:5px;
marging: 3px;
}

div.in-box input:focus{
background-color: lightblue;
}
